openapi: 3.0.0
info:
  title: API OpenData Channels do Open Finance Brasil
  description: A API descrita neste documento é referente as API Channels da fase OpenData do Open Finance Brasil.
  version: '2.0.0-rc.1'
  contact:
    url: 'https://servicedesk.openbankingbrasil.org.br/Login.jsp?navLanguage=pt-BR'
tags:
  - name: Channels
    description: Operações para listagem de canais de atendimento
servers:
  - url: http://api.banco.com.br/open-banking/channels/v2
paths:
  /banking-agents:
    get:
      tags:
        - Channels
      summary: Obtém a lista de correspondentes bancários da instituição financeira.
      description: "Método para obter a lista de correspondentes bancários da instituição financeira."
      operationId: "getBankingAgents"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
  /branches:
    get:
      tags:
        - "Channels"
      summary: Obtém a lista de dependências próprias da instituição financeira.
      description: "Método para obter a lista de dependências próprias da instituição financeira."
      operationId: "getBranches"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
  /electronic-channels:
    get:
      tags:
        - "Channels"
      summary: Obtém a lista de canais eletrônicos de atendimento da instituição financeira.
      description: "Método para obter a lista de canais eletrônicos de atendimento da instituição financeira."
      operationId: "getElectronicChannels"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
  /phone-channels:
    get:
      tags:
        - "Channels"
      summary: "Obtém a lista de canais telefônicos de atendimento da instituição financeira."
      description: "Método para obter a lista de canais telefônicos de atendimento da instituição financeira."
      operationId: "getPhoneChannels"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
  /shared-automated-teller-machines:
    get:
      tags:
        - "Channels"
      summary: "Obtém a lista de terminais compartilhados de autoatendimento."
      description: "Método para obter a lista de terminais compartilhados de autoatendimento da instituição financeira."
      operationId: "getSharedAutomatedTellerMachines"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
components:
  schemas:
    ResponseBankingAgentsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          description: Conjunto de informações referente aos correspondentes bancários da Instituição
          type: object
          properties:
            participant:
              $ref: '#/components/schemas/BankingAgentsParticipant'
            bankingAgents:
              type: array
              items:
                $ref: '#/components/schemas/BankingAgent'
              minItems: 1
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    BankingAgentsParticipant:
      description: Conjunto de informações relativas ao participante do produto de Open Finance
      type: object
      required:
        - brand
        - name
        - cnpjNumber
      x-regulatory-required:
        - brand
        - name
        - cnpjNumber
      properties:
        brand:
          type: string
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Nome da marca selecionada pela Organização proprietário da dependência (titular).
          example: Organização A
        name:
          type: string
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Nome da Instituição, pertencente à marca, responsável pelo Correspondente Bancário no país.
          example: 'Empresa da Organização A'
        cnpjNumber:
          type: string
          pattern: '^\d{14}$'
          description: Número completo do CNPJ da instituição
          maxLength: 14
          minLength: 14
          example: "50685362000135"
    BankingAgentsContractor:
      type: object
      required:
        - name
        - cnpjNumber
      properties:
        name:
          type: string
          description: Nome do contratante do serviço de correspondente
          maxLength: 100
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Empresa Contratante
        cnpjNumber:
          type: string
          pattern: '^\d{14}$'
          description: Número completo do CNPJ da instituição
          maxLength: 14
          minLength: 14
          example: "50685362000135"
    ResponseBranchesList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          description: Conjunto de informações referente as dependências próprias da instituição.
          minItems: 1
          items:
            $ref: '#/components/schemas/BranchesData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    BranchesData:
      type: object
      required:
        - identification
        - postalAddress
        - availability
        - services
      properties:
        participant:
          $ref: '#/components/schemas/BranchesParticipant'
        identification:
          $ref: '#/components/schemas/BranchIdentification'
        postalAddress:
          $ref: '#/components/schemas/BranchPostalAddress'
        availability:
          $ref: '#/components/schemas/BranchAvailability'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/BranchPhone'
          minItems: 1
          description: Lista de telefones da Dependência
        services:
          type: array
          description: Traz a relação de serviços disponbilizados pelo Canal de Atendimento
          items:
            $ref: '#/components/schemas/BranchService'
          minItems: 1
    BranchesParticipant:
      description: Conjunto de informações relativas ao participante do produto de Open Finance
      type: object
      required:
        - brand
        - name
        - cnpjNumber
      x-regulatory-required:
        - brand
        - name
        - cnpjNumber
        - urlComplementaryList
      properties:
        brand:
          type: string
          description: Nome da Marca reportada pelo participante do Open Finance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Organização A
        name:
          type: string
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Empresa A1
        cnpjNumber:
          type: string
          minLength: 14
          maxLength: 14
          pattern: '^\d{14}$'
          description: |
            Número completo do CNPJ da instituição responsável pela dependência - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.
            Deve-se ter apenas os números do CNPJ, sem máscara
          example: '45086338000178'
        urlComplementaryList:
          type: string
          description: | 
            URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. 
            Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada. 
            
            Restrição: Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
          maxLength: 1024
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'https://example.com/mobile-banking'
    ResponseElectronicChannelsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          description: Conjunto de informações referente aos canais eletrônicos de atendimento da instituição
          minItems: 1
          items:
            $ref: '#/components/schemas/ElectronicChannelsData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ElectronicChannelsData:
      type: object
      required:
        - identification
        - services
      properties:
        participant:
          $ref: '#/components/schemas/ElectronicChannelsParticipant'
        identification:
          $ref: '#/components/schemas/ElectronicChannelIdentification'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannelService'
          minItems: 1
          description: "Traz a relação de serviços disponbilizados pelo Canal de Atendimento"
    ElectronicChannelsParticipant:
      type: object
      description: Conjunto de informações relativas ao participante do produto de Open Finance
      required:
        - brand
        - name
        - cnpjNumber
      x-regulatory-required:
        - brand
        - name
        - cnpjNumber
        - urlComplementaryList
      properties:
        brand:
          type: string
          description: Nome da marca selecionada pela Organização proprietária da dependência (titular).
          example: "Marca A"
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
        name:
          type: string
          description: Nome da marca selecionada pela Organização proprietária da dependência (titular).
          example: "Empresa da Marca A"
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
        cnpjNumber:
            type: string
            pattern: '^\d{14}$'
            description: Número completo do CNPJ da instituição
            maxLength: 14
            minLength: 14
            example: "50685362000135"
        urlComplementaryList:
          type: string
          description: | 
            URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. 
            Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada. 
            
            Restrição: Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
          maxLength: 1024
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: "https://example.com/mobile-banking"
    BankingAgent:
      type: object
      required:
        - identification
        - locations
        - services
      properties:
        identification:
          $ref: '#/components/schemas/BankingAgentIdentification'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentLocation'
          minItems: 1
          description: Relação de informações referentes as localizações do correspondente bancário
        services:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentService'
          minItems: 1
          description: "Traz a relação de serviços disponbilizados pelo Canal de Atendimento"
        contractors:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentsContractor'
          minItems: 1
          description: Relação de informações de um contratante do serviço de correspondente.
    BankingAgentIdentification:
      type: object
      description: Lojas do correspondente bancário
      required:
        - cnpjNumber
        - corporationName
        - isUnderestablishment
      x-regulatory-required:
        - corporationName
        - groupName
        - isUnderestablishment
      properties:
        corporationName:
          type: string
          description: Nome da loja do correspondente bancário
          maxLength: 100
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Empresa Correspondente A
        groupName:
          type: string
          description: Nome do grupo do correspondente bancário
          maxLength: 100
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Grupo Master
        isUnderestablishment:
          type: boolean
          description: Indicador do Correspondente Bancário ser um Substabelecimento (são empresas  que foram contratadas por um correspondente bancário para prestar serviços. A empresa substabelecida é tratada como um correspondente do banco e tem praticamente os mesmos direitos e obrigações que possui o correspondente direto)
          example: true
        cnpjNumber:
          type: string
          pattern: '^\d{14}$'
          description: Número completo do CNPJ da instituição
          maxLength: 14
          minLength: 14
          example: "50685362000135"
    BankingAgentLocation:
      type: object
      required:
        - postalAddress
      properties:
        postalAddress:
          $ref: '#/components/schemas/BankingAgentPostalAddress'
        availability:
          $ref: '#/components/schemas/BankingAgentAvailability'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
    BankingAgentPostalAddress:
      type: object
      description: Informação referente ao endereço postal
      required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      x-regulatory-required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      properties:
        address:
          type: string
          description: "Deverá trazer toda a informação referente ao endereço da dependência informada: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver), como, p.ex.: 'R Diamatina, 59, bloco 35, fundos' 'Praça da Boa Vontade s/n'"
          maxLength: 150
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Av Naburo Ykesaki, 1270'
        additionalInfo:
          type: string
          description: "Alguns logradouros ainda necessitam ser especificados por meio de complemento"
          maxLength: 30
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
        districtName:
          type: string
          description: "Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: 'Paraíso'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Centro'
        townName:
          type: string
          description: "Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. 'São Paulo'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Marília'
        ibgeCode:
          type: string
          description: "Código IBGE do município"
          maxLength: 7
          minLength: 7
          pattern: ^\d{7}$
          example: '3515890'
        countrySubDivision:
          type: string
          description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros"
          enum:
            - AC
            - AL
            - AP
            - AM
            - BA
            - CE
            - DF
            - ES
            - GO
            - MA
            - MT
            - MS
            - MG
            - PA
            - PB
            - PR
            - PE
            - PI
            - RJ
            - RN
            - RS
            - RO
            - RR
            - SC
            - SP
            - SE
            - TO
          example: 'SP'
        postCode:
          type: string
          description: "Código de Endereçamento Postal"
          pattern: '^\d{8}$'
          maxLength: 8
          minLength: 8
          example: '17500001'
        country:
          type: string
          description: "Nome do país"
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Brasil'
        countryCode:
          type: string
          description: Código do país de acordo com a ISO 3166-1 alpha-3
          minLength: 3
          maxLength: 3
          pattern: '^([A-Z]{3})$'
          example: 'BRA'
        geographicCoordinates:
          $ref: '#/components/schemas/GeographicCoordinates'
    BankingAgentAvailability:
      type: object
      description: Horário de funcionamento das operações
      properties:
        standards:
          description: Lista disponibilidade padrão da dependência por dias da semana
          type: array
          items:
            type: object
            required:
              - weekday
            properties:
              weekday:
                type: string
                enum:
                  - DOMINGO
                  - SEGUNDA_FEIRA
                  - TERCA_FEIRA
                  - QUARTA_FEIRA
                  - QUINTA_FEIRA
                  - SEXTA_FEIRA
                  - SABADO
                description: Dia da semana de abertura
              openingTime:
                type: string
                description: Horário de abertura (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              closingTime:
                type: string
                description: Horário de fechamento (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
        exception:
          type: string
          description: Em campo texto devem ser registradas todas as Exceções para o não atendimento
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Exceto feriados municipais, nacionais e estaduais
        isPublicAccessAllowed:
          description: Indica se a instalação da Dependência tem acesso restrito a clientes
          type: boolean
          example: false
    BankingAgentService:
      type: object
      x-regulatory-required:
        - name
        - code
      properties:
        name:
          type: string
          enum:
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_ABERTURA_CONTAS_DEPOSITOS_VISTA_PRAZO_POUPANCA_MANTIDOS_INSTITUICAO_CONTRATANTE
            - REALIZACAO_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_TITULARIDADE_CLIENTES_MANTIDAS_INSTITUICAO_CONTRATANTE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_OUTRAS_ATIVIDADES_DECORRENTES_EXECUCAO_CONTRATOS_CONVENIOS_PRESTACAO_SERVICOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_CURSADAS_INTERMEDIO_INSTITUICAO_CONTRATANTE_SOLICITACAO_CLIENTES_USUARIOS
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_OPERACAO_CREDITO_ARRENDAMENTO_MERCANTIL_CONCESSAO_INSTITUICAO_CONTRATANTE
            - RECEBIMENTOS_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO_CONTRATANTE
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO_RESPONSABILIDADE_INSTITUICAO_CONTRATANTE
            - REALIZACAO_OPERACOES_CAMBIO_RESPONSABILIDADE_INSTITUICAO_CONTRATANTE
            - OUTROS
          description: "Relação dos Nomes de serviços prestados pelo Correspondente"
        code:
          type: string
          enum:
            - RECEBE_ENCAMINHA_PROPOSTAS_ABERTURA_CONTAS
            - REALIZA_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_EXECUCAO_CONTRATOS_CONVENIO
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO
            - RECEBE_ENCAMINHA_PROPOSTAS_CREDITO_ARRENDAMENTO_MERCANTIL
            - RECEBE_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO
            - RECEBE_ENCAMINHA_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO
            - REALIZA_OPERACOES_CAMBIO
            - OUTROS
          description: ">
            Relação dos Códigos relativos aos serviços prestados pelo Correspondente
            \n* `RECEBE_ENCAMINHA_PROPOSTAS_ABERTURA_CONTAS` - Recepção e encaminhamento de propostas de abertura de contas
            \n* `REALIZA_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS` - Realização de recebimentos, pagamentos e transferências eletrônicas
            \n* `RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_EXECUCAO_CONTRATOS_CONVENIO` - Recebimentos e pagamentos de qualquer natureza
            \n* `EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO` - Execução ativa e passiva de ordens de pagamento
            \n* `RECEBE_ENCAMINHA_PROPOSTAS_CREDITO_ARRENDAMENTO_MERCANTIL` - Recepção e encaminhamento de propostas de operações de crédito e de arrendamento mercantil
            \n* `RECEBE_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO` - Recebimento e pagamentos relacionados a letras de câmbio de aceite da instituição
            \n* `RECEBE_ENCAMINHA_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO` - Recepção e encaminhamento de propostas de fornecimento de cartões de crédito
            \n* `REALIZA_OPERACOES_CAMBIO` - Realização de operações de câmbio
            \n* `OUTROS` - Outros"
        additionalInfo:
          type: string
          description: Campo aberto para detalhamento
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
      required:
        - name
        - code
    BranchPostalAddress:
      type: object
      description: Informação referente ao endereço postal
      required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      x-regulatory-required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      properties:
        address:
          type: string
          description: "Deverá trazer toda a informação referente ao endereço da dependência informada: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver), como, p.ex.: 'R Diamatina, 59, bloco 35, fundos' 'Praça da Boa Vontade s/n'"
          maxLength: 150
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Av Naburo Ykesaki, 1270'
        additionalInfo:
          type: string
          description: "Alguns logradouros ainda necessitam ser especificados por meio de complemento"
          maxLength: 30
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
        districtName:
          type: string
          description: "Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: 'Paraíso'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Centro'
        townName:
          type: string
          description: "Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. 'São Paulo'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Marília'
        ibgeCode:
          type: string
          description: "Código IBGE do município"
          maxLength: 7
          minLength: 7
          pattern: ^\d{7}$
          example: '3515890'
        countrySubDivision:
          type: string
          description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros"
          enum:
            - AC
            - AL
            - AP
            - AM
            - BA
            - CE
            - DF
            - ES
            - GO
            - MA
            - MT
            - MS
            - MG
            - PA
            - PB
            - PR
            - PE
            - PI
            - RJ
            - RN
            - RS
            - RO
            - RR
            - SC
            - SP
            - SE
            - TO
          example: 'SP'
        postCode:
          type: string
          description: "Código de Endereçamento Postal"
          pattern: '^\d{8}$'
          maxLength: 8
          minLength: 8
          example: '17500001'
        country:
          type: string
          description: "Nome do país"
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Brasil'
        countryCode:
          type: string
          description: Código do país de acordo com a ISO 3166-1 alpha-3
          pattern: '^([A-Z]{3})$'
          maxLength: 3
          minLength: 3
          example: 'BRA'
        geographicCoordinates:
          $ref: '#/components/schemas/GeographicCoordinates'
    BranchPhone:
      type: object
      properties:
        type:
          type: string
          enum:
            - FIXO
            - MOVEL
          example: "FIXO"
          description: "Identificação do Tipo de telefone da dependência. p.ex.FIXO, MOVEL."
        countryCallingCode:
          type: string
          maxLength: 4
          minLength: 1
          pattern: ^\d{1,4}$
          example: "55"
          description: "Número de DDI (Discagem Direta Internacional) para  telefone de acesso ao Canal - se houver. p.ex. '55'"
        areaCode:
          type: string
          maxLength: 2
          minLength: 2
          pattern: ^\d{2}$
          example: "19"
          description: "Número de DDD (Discagem Direta à Distância) do telefone da dependência - se houver. p.ex. '19'"
        number:
          type: string
          maxLength: 11
          minLength: 8
          pattern: '^([0-9]{8,11})$'
          example: "35721199"
          description: "Número de telefone da dependência - se houver"
    BranchIdentification:
      description: Identificação das dependência próprias
      type: object
      x-regulatory-required:
        - type
        - code
        - checkDigit
        - name
      properties:
        type:
          type: string
          enum:
            - AGENCIA
            - POSTO_ATENDIMENTO
            - POSTO_ATENDIMENTO_ELETRONICO
            - UNIDADE_ADMINISTRATIVA_DESMEMBRADA
          description: " >
            Tipo da dependência, segundo a regulamentação do Bacen,  na Resolução Nº 4072, de 26 de abril de 2012:
            Dependência de instituições financeiras e demais instituições, autorizadas a funcionar pelo Banco Central do Brasil, destinada à prática das atividades para as quais a instituição esteja regularmente habilitada.
            \n* `AGENCIA`: Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória;
            \n* `POSTO_ATENDIMENTO`: Posto de Atendimento é a dependência subordinada a agência  ou à sede da instituição financeira, destinada ao atendimento ao público no exercício de uma ou mais de suas atividades, podendo ser fixo ou móvel. Segundo Art.15. Os Postos de Atendimento Bancário (PAB), Postos Avançados de Atendimento (PAA), Postos de Atendimento Transitórios (PAT), Postos de Compra de Ouro (PCO), Postos de Atendimento Cooperativo (PAC), Postos de Atendimento de Microcrédito (PAM), Postos Bancários de Arrecadação e Pagamento (PAP) e os Postos de Câmbio atualmente em funcionamento serão considerados PA.
            \n* `POSTO_ATENDIMENTO_ELETRONICO`: Posto de Atendimento Eletrônico é a dependência constituída por um ou mais terminais de autoatendimento, subordinada a agência ou à sede da instituição, destinada à prestação de serviços por meio eletrônico, podendo ser fixo ou móvel, permanente ou transitório
            \n* `UNIDADE_ADMINISTRATIVA_DESMEMBRADA `: Unidade Administrativa Desmembrada (UAD) segundo a Resolução 4072 , BCB, 2012, no Art. 8º \"... é dependência destinada à execução de atividades administrativas da instituição, vedado o atendimento ao público\""
        code:
          type: string
          maxLength: 4
          minLength: 4
          pattern: '^(\d{4})$'
          description: Código identificador da dependência
          example: '0001'
        checkDigit:
          type: string
          maxLength: 1
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Dígito verificador do código da dependência
          example: '1' 
        name:
          type: string
          maxLength: 100
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Nome da dependência
          example: Dependência X
        relatedBranch:
          type: string
          maxLength: 4
          minLength: 4
          pattern: ^\d{4}$
          description: Código da agência vinculada ao Posto de Atendimento - se aplicável
          example: '0001'
        openingDate:
          type: string
          maxLength: 10
          minLength: 10
          pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$
          description: Data de abertura da dependência (uma string com data conforme especificação RFC-3339. p.ex. 2014-03-19)
          example: '2023-10-16'
      required:
        - type
        - code
        - checkDigit
        - name
    BranchAvailability:
      type: object
      description: Horário de funcionamento das operações
      properties:
        standards:
          type: array
          description: Lista disponibilidade padrão da depêndencia por dias da semana
          items:
            type: object
            required:
              - weekday
              - openingTime
              - closingTime
            properties:
              weekday:
                type: string
                enum:
                  - DOMINGO
                  - SEGUNDA_FEIRA
                  - TERCA_FEIRA
                  - QUARTA_FEIRA
                  - QUINTA_FEIRA
                  - SEXTA_FEIRA
                  - SABADO
                description: Dia da semana de abertura da dependência bancária
              openingTime:
                type: string
                description: Horário de abertura da dependência bancária (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              closingTime:
                type: string
                description: Horário de fechamento da dependência bancária (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
          minItems: 1
        exception:
          type: string
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Em campo texto devem ser registradas todas as Exceções para o não atendimento
          example: Exceto feriados municipais, estaduais e nacionais
        isPublicAccessAllowed:
          type: boolean
          description: Indica se a instalação da Dependência tem acesso restrito a clientes
          example: true
      required:
        - standards
    BranchService:
      type: object
      x-regulatory-required:
        - name
        - code
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_CONTAS_PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO_CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Nome dos Serviços efetivamente prestados pelo Canal de Atendimento
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGTO_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_PAGTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGTO
            - DEPOSITO_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Código dos Serviços efetivamente prestados pelo Canal de Atendimento
        additionalInfo:
          type: string
          description: Texto livre para complementar informação relativa ao Serviço disponível, quando for selecionada a opção 'OUTROS_PRODUTOS_SERVICOS'
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
      required:
      - code
      - name
    ElectronicChannelIdentification:
      type: object
      description: Identificação dos canais eletrônicos para atendimento
      required:
        - type
        - urls
      x-regulatory-required:
        - type
        - urls
      properties:
        type:
          type: string
          enum:
            - INTERNET_BANKING
            - MOBILE_BANKING
            - SAC
            - OUVIDORIA
            - CHAT
            - OUTROS
          description: "Tipo de canal de atendimento eletrônico"
          example: "CHAT"
        additionalInfo:
          type: string
          description: |
            Campo de texto livre para descrever complementação de informações necessárias. De preenchimento obrigatório para  o tipo de canal de atendimento 'OUTROS'
            Restrição: Preenchimento obrigatório para o tipo de canal de atendimento 'OUTROS'
          minLength: 1
          maxLength: 300
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
        urls:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannelUrl'
          minItems: 1
          description: URLs dos canais eletrônicos de atendimento
          example: [ "https://empresaa1.com/internet-banking", "https://empresaa1.com/sac", "https://empresaa1.com/ouvidoria"]
    ElectronicChannelUrl:
      type: string
      pattern: ^(?!\s)[\w\W\s]*[^\s]$
      minLength: 1
      maxLength: 1024
    ElectronicChannelService:
      type: object
      required:
        - name
        - code
      x-regulatory-required:
        - name
        - code
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_CONTAS_PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO_CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Nome dos Serviços efetivamente prestados pelo Canal de Atendimento"
          example: "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA"
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGTO_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_PAGTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGTO
            - DEPOSITO_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Código dos Serviços efetivamente prestados pelo Canal de Atendimento"
          example: "ABRE_CONTA_DEPOSITO_OU_PRE_PAGA"
        additionalInfo:
          type: string
          description: "Texto livre para complementar informação relativa ao Serviço disponível, quando for selecionada a opção 'OUTROS_PRODUTOS_SERVICOS'"
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
    Phone:
      type: object
      description: Lista de telefones do agente bancária
      properties:
        type:
          type: string
          enum:
            - FIXO
            - MOVEL
          example: "FIXO"
          description: "Identificação do Tipo de telefone da dependência. p.ex.FIXO, MOVEL."
        countryCallingCode:
          type: string
          maxLength: 4
          minLength: 1
          pattern: ^\d{1,4}$
          example: "55"
          description: "Número de DDI (Discagem Direta Internacional) para  telefone de acesso ao Canal - se houver. p.ex. '55'"
        areaCode:
          type: string
          maxLength: 2
          minLength: 2
          pattern: ^\d{2}$
          example: "19"
          description: "Número de DDD (Discagem Direta à Distância) do telefone da dependência - se houver. p.ex. '19'"
        number:
          type: string
          maxLength: 11
          minLength: 8
          pattern: '^([0-9]{8,11})$'
          example: "35721199"
          description: "Número de telefone da dependência - se houver"
    ResponseSharedAutomatedTellerMachinesList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          description: Conjunto de informações referente aos terminais compartilhados de autoatendimento da instituição
          minItems: 1
          items:
            $ref: '#/components/schemas/SharedAutomatedTellerMachinesData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    SharedAutomatedTellerMachinesData:
      type: object
      properties:
        participant:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesParticipant'
        identification:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesIdentification'
        postalAddress:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesPostalAddress'
        availability:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesAvailability'
        services:
          type: array
          items:
            $ref: '#/components/schemas/SharedAutomatedTellerMachinesServices'
    SharedAutomatedTellerMachinesParticipant:
      type: object
      description: Conjunto de informações relativas ao participante do produto de Open Finance
      properties:
        brand:
          type: string
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: Nome da marca selecionada pela Organização
          example: Organização A
        name:
          type: string
          description: Nome da Instituição, pertencente à Marca.
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Empresa da Organização A'
        cnpjNumber:
          type: string
          pattern: '^\d{14}$'
          description: Número completo do CNPJ da instituição
          maxLength: 14
          minLength: 14
          example: "50685362000135"
        urlComplementaryList:
          type: string
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          minLength: 1
          maxLength: 1024
          description: |
            URL de link para lista complementar com os nomes e CNPJs agrupados para o caso instituições ofertantes de produtos e serviços com as mesmas características.
          example: 'https://empresadaorganizacaoa.com/complementarylist'
    SharedAutomatedTellerMachinesServices:
      type: object
      description: Traz a relação de serviços disponibilizados pelo Canal de Atendimento
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO
            - CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_E_CONTAS
            - PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO
            - CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Nome dos Serviços efetivamente prestados pelo Terminal de Autoatendimento Compartilhado informado"
          example: OUTROS_PRODUTOS_SERVICOS
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGA_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS
            - PAGAMENTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUTA_ATIVA_PASSIVA_ORDENS_PAGAMENTO
            - DEPOSITA_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDE_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDE_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDE_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Código dos Serviços efetivamente prestados pelo Terminal de Autoatendimento Compartilhado informado"
          example: OUTROS_PRODUTOS_SERVICOS
        additionalInfo:
          type: string
          description: Texto livre para complementar informação relativa ao Serviço disponível, quando for preenchida a opção 'OUTROS_PRODUTOS_SERVICOS'
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
    SharedAutomatedTellerMachinesIdentification:
      type: object
      description: Identificação dos terminais de autoatendimento compartilhados
      properties:
        ownerName:
          type: string
          maxLength: 100
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          description: "Nome do proprietário do terminal de Autoatendimento Compartilhado"
          example: "João da Silva Santos"
    ####################
    ## Phone ElectronicChannels ##
    ####################
    #### ResponsePhoneChannelsList ####
    ResponsePhoneChannelsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          description: Conjunto de informações referente aos canais telefônicos de atendimento da instituição
          minItems: 1
          items:
            $ref: '#/components/schemas/PhoneChannelsData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    #### PhoneChannelsBrand ####
    PhoneChannelsData:
      type: object
      required:
        - identification
        - services
      properties:
        participant:
          $ref: '#/components/schemas/PhoneChannelsParticipant'
        identification:
          $ref: '#/components/schemas/PhoneChannelIdentification'
        services:
          type: array
          items:
            $ref: '#/components/schemas/PhoneChannelService'
          minItems: 1
          description: Traz a relação de serviços disponbilizados pelo Canal de Atendimento
    PhoneChannelsParticipant:
      type: object
      description: Conjunto de informações relativas ao participante do produto de Open Finance
      required:
        - brand
        - name
        - cnpjNumber
      x-regulatory-required:
        - brand
        - name
        - cnpjNumber
        - urlComplementaryList
      properties:
        brand:
          type: string
          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
          minLength: 1
          maxLength: 80
          description: "Nome da Marca reportada pelo participante do Open Finance. O conceito a que se refere a 'marca' utilizada está em definição pelos participantes."
          example: "Marca A"
        name:
          type: string
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          minLength: 1
          maxLength: 80
          description: "Nome da Instituição, pertencente à organização, responsável pelo Canal Telefônico."
          example: "Empresa da Marca A"
        cnpjNumber:
          type: string
          pattern: '^\d{14}$'
          description: Número completo do CNPJ da instituição
          maxLength: 14
          minLength: 14
          example: "50685362000135"
        urlComplementaryList:
          type: string
          description: | 
            URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. 
            Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada. 
            
            Restrição: Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          minLength: 1
          maxLength: 1024
          example: "https://example.com/mobile-banking"
    #### PhoneChannelIdentification ####
    PhoneChannelIdentification:
      type: object
      description: Identificação dos canais telefônicos de atendimento
      required:
        - type
      x-regulatory-required:
        - type
      properties:
        type:
          type: string
          enum:
            - CENTRAL_TELEFONICA
            - SAC
            - OUVIDORIA
            - OUTROS
          description: "
            Tipo de canal telefônico de atendimento:
              \n* `CENTRAL_TELEFONICA`
              \n* `SAC`
              \n* `OUVIDORIA`
              \n* `OUTROS`"
          example: "OUVIDORIA"
        additionalInfo:
          type: string
          description: Campo de texto livre para descrever informações complementateres sobre canais telefônicos. De preenchimento obrigatório quando o tipo de canal de atendimento telefônico selecionado for "OUTROS"
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          minLength: 1
          maxLength: 300
          example: Informações Adicionais
        phones:
          type: array
          items:
            $ref: '#/components/schemas/PhoneChannelPhone'
          minItems: 1
          description: "Lista de telefones do Canal de Atendimento"
    #### PhoneChannelPhone ####
    PhoneChannelPhone:
      type: object
      required:
        - number
      x-regulatory-required:
        - countryCallingCode
        - areaCode
        - number
      properties:
        countryCallingCode:
          type: string
          maxLength: 4
          minLength: 1
          pattern: '^\d{1,4}$'
          example: "55"
          description: "Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver."
        areaCode:
          type: string
          maxLength: 2
          minLength: 2
          pattern: '^(\d{2})$'
          example: "19"
          description: "Número de DDD (Discagem Direta à Distância) para telefone de acesso ao Canal - se houver."
        number:
          type: string
          maxLength: 11
          minLength: 8
          pattern: '^([0-9]{8,11})$'
          example: "08007787788"
          description: "Número de telefone de acesso ao canal."
        additionalInfo:
          type: string
          description: Informações adicionais referente ao canal telefônico de atendimento
          maxLength: 300
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
    #### PhoneChannelService ####
    PhoneChannelService:
      type: object
      required:
        - name
        - code
      x-regulatory-required:
        - name
        - code
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_CONTAS_PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO_CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Nome dos Serviços efetivamente prestados pelo Canal de Atendimento"
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGTO_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_PAGTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGTO
            - DEPOSITO_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: "Código dos Serviços efetivamente prestados pelo Canal de Atendimento"
        additionalInfo:
          type: string
          description: "Texto livre para complementar informação relativa ao Serviço disponível, quando for selecionada a opção 'OUTROS_PRODUTOS_SERVICOS'"
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          minLength: 1
          maxLength: 2000
          example: Informações Adicionais
    GeographicCoordinates:
      type: object
      description: Informação referente a geolocalização informada.
      properties:
        latitude:
          description: Informação da latitude referente a geolocalização informada.
          type: string
          pattern: ^-?\d{1,2}\.\d{1,9}$
          maxLength: 13
          minLength: 4
          example: '-90.8365180'
        longitude:
          description: Informação da longitude referente a geolocalização informada.
          type: string
          pattern: ^-?\d{1,3}\.\d{1,8}$
          maxLength: 13
          minLength: 4
          example: '-180.836519'
    Links:
      type: object
      description: Referências para outros recursos da API requisitada
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          maxLength: 2000
          minLength: 5
          example: "https://api.banco.com.br/open-banking/channels/v2/resource"
        first:
          type: string
          description: URL da primeira página de registros
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          maxLength: 2000
          minLength: 5
          example: "https://api.banco.com.br/open-banking/channels/v2/resource"
        prev:
          type: string
          description: URL da página anterior de registros
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          maxLength: 2000
          minLength: 5
          example: "https://api.banco.com.br/open-banking/channels/v2/resource"
        next:
          type: string
          description: URL da próxima página de registros
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          maxLength: 2000
          minLength: 5
          example: "https://api.banco.com.br/open-banking/channels/v2/resource"
        last:
          type: string
          description: URL da última página de registros
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          maxLength: 2000
          minLength: 5
          example: "https://api.banco.com.br/open-banking/channels/v2/resource"
    Meta:
      type: object
      description: Meta informações referente à API requisitada
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages

#### ATM specific schemas because of optional NA values ####
    SharedAutomatedTellerMachinesAvailability:
      type: object
      description: Horário de funcionamento das operações
      properties:
        standards:
          type: array
          description: Lista disponibilidade padrão dos terminais de autoatendimento compartilhados por dias da semana
          items:
            type: object
            properties:
              weekday:
                type: string
                enum:
                  - DOMINGO
                  - SEGUNDA_FEIRA
                  - TERCA_FEIRA
                  - QUARTA_FEIRA
                  - QUINTA_FEIRA
                  - SEXTA_FEIRA
                  - SABADO
                description: Dia da semana de abertura
                example: SEGUNDA_FEIRA
              openingTime:
                type: string
                description: Horário de abertura (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                example: '10:00:57Z'
              closingTime:
                type: string
                description: Horário de fechamento (UTC)
                maxLength: 13
                pattern: ^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                example: '16:00:57Z'
        exception:
          type: string
          description: Em campo texto devem ser registradas todas as Exceções para o não atendimento
          maxLength: 2000
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Exceto feriados municipais, nacionais e estaduais
        isPublicAccessAllowed:
          type: boolean
          description: Indica se o terminal de autoatendimento compartilhado tem acesso restrito a clientes
          example: false
    SharedAutomatedTellerMachinesPostalAddress:
      type: object
      description: Informação referente ao endereço postal
      properties:
        address:
          type: string
          description: "Deverá trazer toda a informação referente ao endereço da dependência informada: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver), como, p.ex.: 'R Diamatina, 59, bloco 35, fundos' 'Praça da Boa Vontade s/n'"
          maxLength: 150
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Av Naburo Ykesaki, 1270'
        additionalInfo:
          type: string
          description: "Complemento"
          maxLength: 30
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: Informações Adicionais
        districtName:
          type: string
          description: "Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: 'Paraíso'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Centro'
        townName:
          type: string
          description: "Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. 'São Paulo'"
          maxLength: 50
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Marília'
        ibgeCode:
          type: string
          description: "Código IBGE do município"
          maxLength: 7
          minLength: 7
          pattern: \d{7}
          example: '3515890'
        countrySubDivision:
          type: string
          description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros"
          enum:
            - AC
            - AL
            - AP
            - AM
            - BA
            - CE
            - DF
            - ES
            - GO
            - MA
            - MT
            - MS
            - MG
            - PA
            - PB
            - PR
            - PE
            - PI
            - RJ
            - RN
            - RS
            - RO
            - RR
            - SC
            - SP
            - SE
            - TO
          example: 'SP'
        postCode:
          type: string
          description: "Código de Endereçamento Postal"
          pattern: '^\d{8}$'
          maxLength: 8
          minLength: 8
          example: '17500001'
        country:
          type: string
          description: "Nome do país"
          maxLength: 80
          minLength: 1
          pattern: ^(?!\s)[\w\W\s]*[^\s]$
          example: 'Brasil'
        countryCode:
          type: string
          description: Código do país de acordo com a ISO 3166-1 alpha-3
          pattern: '^([A-Z]{3})$'
          maxLength: 3
          minLength: 3
          example: 'BRA'
        geographicCoordinates:
          $ref: '#/components/schemas/GeographicCoordinates'
    ResponseErrorMetaSingle:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          type: object
          description: Meta informações referente à API requisitada
          required:
            - requestDateTime
          properties:
            requestDateTime:
              description: Data e hora da consulta, conforme especificação RFC-3339, formato UTC.
              type: string
              format: date-time
              minLength: 20
              maxLength: 20
              pattern: '^[2-9]\d{3}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
              example: '2023-10-09T14:10:00Z'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          type: object
          description: Meta informações referente à API requisitada
          required:
            - requestDateTime
          properties:
            requestDateTime:
              description: Data e hora da consulta, conforme especificação RFC-3339, formato UTC.
              type: string
              format: date-time
              minLength: 20
              maxLength: 20
              pattern: '^[2-9]\d{3}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
              example: '2023-10-09T14:10:00Z'
  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
        maximum: 2147483647
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        format: int32
        default: 25
        minimum: 1
        maximum: 1000
  responses:
    BadRequest:
      description: A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    GatewayTimeout:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    SiteIsOverloaded:
      description: O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    Default:
      description: '\-'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'