openapi: 3.0.0
info:
  title: API Credit Portability - Open Finance Brasil
  description: |
    A API de Portabilidade de Crédito permite que usuários transfiram suas operações de crédito e arrendamento mercantil entre instituições financeiras em busca de melhores condições para o Open Finance Brasil.

    # Orientações
    
    ## Assinatura de payloads:
      No contexto da API de Portabilidade de crédito, os payloads de mensagem que trafegam tanto por parte da instituição credora quanto por parte da instituição proponente devem estar assinados. Para o processo de assinatura destes payloads as instituições devem seguir as especificações de segurança publicadas no Portal do desenvolvedor  
        &nbsp;&nbsp;- Certificados exigidos para assinatura de mensagens: [[PT] Padrão de Certificados Open Finance Brasil 2.1](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/245694518/PT+Padr+o+de+Certificados+Open+Finance+Brasil+2.1)  
        &nbsp;&nbsp;- Como assinar o payload JWS: Como Assinar o Payload
    
    ## Controle de Acesso
    - Os endpoints [GET] /portabilities/{portabilityId}, [GET] /account-data, [POST] /portabilities/{portabilityId}/payment, [PATCH] / portabilities/{portabilityId}/cancel da API de Portabilidade de crédito devem utilizar o escopo client_credentials
    - Os endpoints [GET] /credit-operations/{contractId}/portability-eligibility e [POST] /portabilities devem utilizar o escopo authorization_code para validar a permissions de LOANS
    
    ## Validações para Portabilidade de Crédito
    **- Validações** (após o processo de DCR e obtenção de token client credential - não escopo dessa documentação):   
      &nbsp;Durante o processo de portabilidade de crédito, diferentes validações são necessárias pela instituição credora e devem ocorrer conforme a seguir:    
    **- Casos de erro relacionados às permissões de segurança para acesso à API** (ex. certificado, access_token, jwt, assinatura):    
      Validação de Certificado: Valida utilização de certificado correto durante processo de DCR - HTTP Code 401 (INVALID_CLIENT);   
      Validação de Access_Token: Verifica se Access_Token utilizado está correto - HTTP Code 401 (UNAUTHORIZED);   
      Validação de assinatura da mensagem: Valida se assinatura das mensagens enviadas está correta – HTTP Code 400 (BAD_SIGNATURE);   
      Validação de Claims (exceto data);   
        &emsp;- Valida se dados (aud, iss, iat e jti) são válidos - HTTP status code 403 - (INVALID_CLIENT);  
        &emsp;- Valida reuso de jti - HTTP Code 403 (INVALID_CLIENT).
        
    ## Validações de erros sintáticos e semânticos, previstas com retorno HTTP Code 422 - Unprocessable Entity
      **- Para todos os endpoints:**   
        &nbsp;&nbsp;**Sintáticos**   
          &emsp;- Envio de campos obrigatórios: Valida se todos os campos obrigatórios são informados (PARAMETRO_NAO_INFORMADO);   
          &emsp;- Formatação de parâmetros: Valida se parâmetros informados obedecem a formatação especificada (PARAMETRO_INVALIDO).   
          &emsp;- Demais validações não explicitamente informadas (NAO_INFORMADO)   
    **- Para endpoint ([POST] /portabilities):**   
        &nbsp;&nbsp;**Semânticos**   
        &emsp;- Portabilidade em andamento: Valida se já existe um pedido de portabilidade de crédito para o contrato solicitado pelo trilho do OFB ou da Registradora (EM_ANDAMENTO);   
        &emsp;- Prazo do empréstimo maior ao restante das parcelas a serem liquidadas no contrato original (PRAZO_ACIMA_LIMITE);   
        &emsp;- ID de contrato inválida (CONTRATO_INVALIDO);   
        &emsp;- Contrato não elegível para portabilidade dentro do trilho do OFB (CONTRATO_NAO_ELEGIVEL);   
        &emsp;- Idempotência: Valida se há divergência entre chave de idempotência e informações enviadas (ERRO_IDEMPOTENCIA);   
        &emsp;- Evidência de assinatura do contrato: Valida se o objeto de assinatura do contrato foi preenchido pela instituição proponente devidamente, em caso de ausência (SEM_EVIDENCIA_ASSINATURA).   
    **- Para endpoint ([POST] /portabilities/{portabilityId}/payment):**   
      &nbsp;&nbsp;**Semânticos**   
        &emsp;- Estado da portabilidade diferente de ACCEPTED_SETTLEMENT_IN_PROGRESS ou PAYMENT_ISSUE (PAGAMENTO_EFETUADO_FORA_PRAZO). Obs.: Caso o pagamento tenha sido feito por engano a Instituição Proponente deve solicitar o estorno.   
    **- Para endpoint ([PATCH] /portabilities/{portabilityId}/cancel):**   
      &nbsp;&nbsp;**Semânticos**   
        &emsp;- Estado da portabilidade diferente de RECEIVED, PENDING ou ACCEPTED_SETTLEMENT_IN_PROGRESS (CANCELAMENTO_NÃO_EFETUADO). Obs.: De acordo com o PRD o usuário poderá cancelar o pedido de portabilidade até a etapa de liquidação, após esta etapa não será mais permitido o cancelamento da portabilidade   
  version: 1.0.0-beta.1
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/credit-portability/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/credit-portability/v1'
    description: Servidor de Homologação
tags:
  - name: Account data
    description: 'Informação dos dados bancários para liquidação de contrato via STR exclusiva do OFB.'
  - name: Concurrency Management
    description: 'Para evitar o envio de múltiplas solicitações de portabilidade para o mesmo contrato, as instituições devem implementar mecanismos que permitam: recusar solicitações simultâneas de portabilidade de crédito referentes ao mesmo contrato, seja por meio da registradora ou do Open Finance Brasil (OFB), priorizando sempre a solicitação mais antiga.'
  - name: Credit Portability
    description: 'Permite que usuários transfiram suas operações de crédito e arrendamento mercantil entre instituições financeiras em busca de melhores condições.'
  - name: Payments
    description: 'Informa a Instituição Credora a respeito da liquidação efetuada através da STR exclusiva do OFB.'
paths:
  /portabilities:
    post:
      tags:
        - Credit Portability
      summary: Realiza pedido de portabilidade de crédito para um determinado contrato junto a instituição credora
      operationId: creditPortabilityPostPortabilities
      description: Solicitação de portabilidade de crédito via OFB.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/RequestCreditPortability'
        description: Payload para o pedido de portabilidade de crédito.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/POSTResponseCreditPortability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2AuthorizationCodeLoans:
            - openId
            - 'consent:consentId'
            - loans
  '/portabilities/{portabilityId}':
    get:
      tags:
        - Credit Portability
      summary: Consulta portabilidade de crédito através da propriedade portabilityId.
      description: Endpoint responsável por consultar pedidos de portabilidade de crédito.
      operationId: creditPortabilityGetPortabilitiesByPortabilityId
      parameters:
        - $ref: '#/components/parameters/portabilityId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePortabilitiesByPortabilityId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2ClientCredentials:
            - credit-portability
  '/portabilities/{portabilityId}/cancel':
    patch:
      tags:
        - Credit Portability
      summary: Comunica a Instituição Credora a respeito do cancelamento da portabilidade de crédito.
      description: Comunica a Instituição Credora a respeito do cancelamento da portabilidade de crédito.
      operationId: creditPortabilityPostPortabilitiesPortabilityIdCancel
      parameters:
        - $ref: '#/components/parameters/portabilityId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/RequestCreditPortabilityCancel'
        description: Payload para comunicar a liquidação efetuada pela proponente a credora e iniciar a proxima etapa do fluxo de portabilidade de crédito.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PatchResponseCreditPortabilityCancel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2ClientCredentials:
            - credit-portability
  '/credit-operations/{contractId}/portability-eligibility':
    get:
      tags:
        - Concurrency Management
      summary: Informa se um contrato pertencente a um determinado cliente estará habilitado para a realização do pedido de portabilidade de crédito considerando a regra de só existir um pedido de portabilidade para um determinado contrato.
      operationId: creditPortabilityGetCreditOperationsContratIdPortabilityEligibility
      description: Informa se o contrato está disponível para solicitação de portabilidade de crédito.
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePortabilityEligibility'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2AuthorizationCodeLoans:
            - openId
            - 'consent:consentId'
            - loans
  /account-data:
    get:
      tags:
        - Account data
      summary: Obtém os dados necessários para realização do pagamento da operação via TED.
      description: Método responsável por recuperar informações de contas  para realização do pagamento via TED.
      operationId: creditPortabilityGetAccountData
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2ClientCredentials:
            - credit-portability
  /portabilities/{portabilityId}/payment:
    post:
      tags:
        - Payments
      summary: Comunica a Instituição Credora a respeito da liquidação da portabilidade de crédito.
      description: Comunica a Instituição Credora a respeito da liquidação da portabilidade de crédito.
      operationId: creditPortabilityPostPortabilitiesPortabilityIdPayment
      parameters:
        - $ref: '#/components/parameters/portabilityId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/RequestCreditPortabilityPayment'
        description: Payload para comunicar a liquidação efetuada pela proponente a credora e iniciar a proxima etapa do fluxo de portabilidade de crédito.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/POSTResponseCreditPortabilityPayment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OAuth2ClientCredentials:
            - credit-portability
components:
  schemas:
    RequestCreditPortability:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Conjunto de informações referentes à Proposta de Portabilidade de Crédito da Proponente para a Credora
          required:
            - customerContact
            - institution
            - contractIdentification
            - proposedContract
            - creationDateTime
          properties:
              customerContact:
                type: array
                minItems: 1
                description: Dados de contato do cliente
                items:
                  type: object
                  required:
                    - type
                    - value 
                  properties:
                    type:
                      type: string
                      enum:
                        - TELEFONE
                        - EMAIL
                      description: "Tipo do contato do cliente."
                    value:
                      type: string
                      pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                      example: "11999999999"
              institution:
                type: object
                description: Informações sobre proponente e credora participantes do presente pedido de portabilidade de crédito
                required:
                  - creditor
                  - proposing
                properties:
                  creditor:
                    type: object
                    description: Informações sobre a instituição credora
                    required:
                      - companyName
                      - companyCnpj
                    properties:
                      companyName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Credora               
                        description: 'Nome da Instituição Credora.'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                  proposing:
                    type: object
                    description: Informações sobre a instituição proponente
                    required:
                      - companyName
                      - companyCnpj
                    properties:
                      companyName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Proponente
                        description: 'Nome da Instituição Proponente'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                      contact:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - EMAIL
                                - TELEFONE
                              description: "Tipo do contato da Instituição Proponente."
                            value:
                              type: string
                              pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                              example: "contato@instituicaoproponente.com.br"
              contractIdentification:
                type: object
                required:
                  - contractId
                  - contractNumber
                  - ipocCode
                properties:
                  contractId:
                    type: string
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$
                    maxLength: 100
                    minLength: 1
                    example: "92792126019929279212650822221989319252576"
                    description: "Identifica de forma única o contrato da operação de crédito do cliente, mantendo as regras de imutabilidade dentro da instituição transmissora."
                  contractNumber:
                    type: string
                    pattern:  ^[\w\W]{1,100}$
                    maxLength: 100
                    minLength: 1
                    example: "1324926521496"
                    description: "Número do contrato dado pela instituição contratante."
                  ipocCode:
                    type: string
                    pattern:  ^[\w\W]{22,67}$
                    maxLength: 67
                    minLength: 22
                    example: "92792126019929279212650822221989319252576"
                    description: |
                      Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por:


                      CNPJ da instituição: 8 (oito) posições iniciais;
                      Modalidade da operação: 4 (quatro) posições;
                      Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica
                      
                      – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                      
                      - Código do cliente: O número de posições varia conforme o tipo do cliente:
                      Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                      Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                      Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                      
                      - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
              proposedContract:
                type: object
                minItems: 1
                description: Proposta da Proponente para Portabilidade de Crédito
                required:
                  - interestRates
                  - contractedFees
                  - contractedFinanceCharges
                  - digitalSignatureProof
                  - CET
                  - amortizationScheduled
                  - installmentPeriodicity
                  - totalNumberOfInstallments
                  - installmentAmount
                properties:
                  interestRates:
                    type: array
                    description: |
                      Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito.  
                      Caso o contrato não possua taxas de juros, deve ser compartilhada uma lista vazia. Caso o contrato possua uma taxa de juros com valor 0, deve ser compartilhado um objeto com o valor 0 de forma explícita.
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/LoansContractInterestRate'
                  contractedFees:
                    type: array
                    description: Lista que traz as informações das tarifas pactuadas no contrato.
                    minItems: 0
                    items:
                      type: object
                      description: Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito
                      required:
                        - feeName
                        - feeCode
                        - feeChargeType
                        - feeCharge
                      properties:
                        feeName:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Denominação da Tarifa pactuada
                          example: Renovação de cadastro
                        feeCode:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Sigla identificadora da tarifa pactuada
                          example: CADASTRO
                        feeChargeType:
                          type: string
                          description: Tipo de cobrança para a tarifa pactuada no contrato.
                          enum:
                            - UNICA
                            - POR_PARCELA
                          example: UNICA
                        feeCharge:
                          type: string
                          description: |
                            "Forma de cobrança relativa a tarifa pactuada no contrato. (Vide Enum)
                            - Mínimo
                            - Máximo
                            - Fixo
                            - Percentual"
                          enum:
                            - MINIMO
                            - MAXIMO
                            - FIXO
                            - PERCENTUAL
                          example: MINIMO
                        feeAmount:
                          type: object
                          minItems: 1
                          description: |
                            Objeto para representar o valor monetário da tarifa pactuada no contrato.
                            
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for diferente de Percentual.
                          required:
                            - amount
                            - currency
                          properties:
                            amount:
                              type: string
                              format: double
                              maxLength: 20
                              minLength: 4
                              pattern: '^\d{1,15}\.\d{2,4}$'
                              example: '1000.0400'
                              description: Valor monetário da tarifa pactuada no contrato.
                            currency:
                              type: string
                              maxLength: 3
                              minLength: 3
                              pattern: '^(\w{3}){1}$'
                              example: 'BRL'
                              description: Moeda referenciada ao campo `amount`, segundo modelo ISO-4217.
                        feeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            É o valor da tarifa em percentual pactuada no contrato.
                
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for Percentual.
                          example: '0.062000'
                  contractedFinanceCharges:
                    type: array
                    description: Lista que traz os encargos pactuados no contrato
                    minItems: 0
                    items:
                      type: object
                      description: Conjunto de informações referentes à identificação da operação de crédito
                      required:
                        - chargeType
                        - chargeRate
                      properties:
                        chargeType:
                          type: string
                          description: Tipo de encargo pactuado no contrato.
                          enum:
                            - JUROS_REMUNERATORIOS_POR_ATRASO
                            - MULTA_ATRASO_PAGAMENTO
                            - JUROS_MORA_ATRASO
                            - IOF_CONTRATACAO
                            - IOF_POR_ATRASO
                            - SEM_ENCARGO
                            - OUTROS
                          example: JUROS_REMUNERATORIOS_POR_ATRASO
                        chargeAdditionalInfo:
                          type: string
                          maxLength: 140
                          description: |
                            Campo para informações adicionais.
                
                            [Restrição] Obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo pactuado no contrato.
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          example: Informações adicionais sobre encargos.
                        chargeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            Representa o valor do encargo em percentual pactuado no contrato.
                
                            O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros(representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%).
                          example: '0.070000'
                  digitalSignatureProof:
                    type: object
                    required:
                      - documentId
                      - signatureDateTime
                    properties:
                      documentId:
                        type: string
                        pattern: ^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$
                        maxLength: 100
                        minLength: 1
                        example: 54d5348c-1a3f-4ff4-a8a8-d0724fb806c6
                        description: "Código identificador do Documento assinado na instituição proponente."
                      signatureDateTime:
                        type: string
                        maxLength: 20
                        pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: "2020-07-21T08:30:00Z"
                        description: |
                          Data e hora em que o contrato foi assinado pelo cliente  no canal digital da Instituição Proponente
                  CET: 
                    type: string
                    pattern: ^\d{1,6}\.\d{6}$
                    maxLength: 13
                    minLength: 8
                    example: "0.290000"
                    description: |
                      CET – Custo Efetivo Total deve ser expresso na forma de taxa percentual anual e incorpora todos os encargos e despesas incidentes nas operações de crédito (taxa de juro, mas também tarifas, tributos, seguros e outras despesas cobradas). O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%). Para o público PF (pessoa física) o campo é de envio obrigatório para contratos firmados a partir de 2008, conforme Resolução CMN 3.517. Para o público PJ (pessoa jurídica) o campo é de envio obrigatório para contratos firmados a partir de 2011, conforme Resolução CMN 3.909. O campo poderá ser preenchido com 0.00 em cenários nos quais a casa não tenha a informação de CET (Custo efetivo total) apenas para as exceções listadas abaixo:

                        - Em contratos anteriores a 2008 (para o público PF);

                        - Em contratos anteriores a 2011 (para o público PJ);

                        - Público PJ de médio ou grande porte.
                  amortizationScheduled:
                    type: string
                    enum:
                    - SAC
                    - PRICE
                    - SAM
                    - SEM_SISTEMA_AMORTIZACAO
                    - OUTROS
                    example: SAC
                    description: | 
                      Sistema de amortização (Vide Enum):

                      - SAC (Sistema de Amortização Constante): É aquele em que o valor da amortização permanece igual até o final. Os juros cobrados sobre o parcelamento não entram nesta conta.

                      - PRICE (Sistema Francês de Amortização): As parcelas são fixas do início ao fim do contrato. Ou seja, todas as parcelas terão o mesmo valor, desde a primeira até a última. Nos primeiros pagamentos, a maior parte do valor da prestação corresponde aos juros. Ao longo do tempo, a taxa de juros vai decrescendo. Como o valor da prestação é fixo, com o passar das parcelas, o valor de amortização vai aumentando.

                      - SAM (Sistema de Amortização Misto): Cada prestação (pagamento) é a média aritmética das prestações
                      respectivas no Sistemas Price e no Sistema de Amortização Constante (SAC).

                      - SEM SISTEMA DE AMORTIZAÇÃO
                  amortizationScheduledAdditionalInfo:
                    type: string
                    pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                    maxLength: 200
                    example: Informações complementares relativa à amortização do tipo `OUTROS`
                    description: |
                      Informação relativa ao complemento da amortização
                      
                      [Restrição] Campo de preenchimento obrigatório quando o campo amortizationScheduled for igual `OUTROS`
                  installmentPeriodicity:
                    type: string
                    description: Informação relativa à periodicidade regular das parcelas. (Vide Enum) sem periodicidade regular, diário, semanal, quinzenal, mensal, bimestral, trimestral, semestral, anual.
                    example: SEM_PERIODICIDADE_REGULAR
                    enum:
                      - SEM_PERIODICIDADE_REGULAR
                      - DIARIO
                      - SEMANAL
                      - QUINZENAL
                      - MENSAL
                      - BIMESTRAL
                      - TRIMESTRAL
                      - SEMESTRAL
                      - ANUAL
                  totalNumberOfInstallments:
                    type: number
                    description: Total de parcelas, segundo a periodicidade regular das parcelas referente à Modalidade de Crédito informada.
                    maximum: 999999999
                    example: 30
                  installmentAmount:
                    type: object
                    minItems: 1
                    description: Objeto para representar o Valor da parcela regular da operação após portabilidade.
                    required:
                      - amount
                      - currency
                    properties:
                      amount:
                        type: string
                        format: double
                        maxLength: 20
                        minLength: 4
                        pattern: '^\d{1,15}\.\d{2,4}$'
                        example: '1000.0400'
                        description: Valor da parcela regular da operação após portabilidade. Expresso em valor monetário com no mínimo 2 casas e no máximo 4 casas decimais.
                      currency:
                        type: string
                        maxLength: 3
                        minLength: 3
                        pattern: '^(\w{3}){1}$'
                        example: 'BRL'
                        description: Moeda referenciada ao campo `amount`, segundo modelo ISO-4217.
              creationDateTime:
                type: string
                description: |
                  Data e hora em que a Proponente registrou a presente proposta (chamada ao POST /portabilities).
                  Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC-0 (UTC time format).
                maxLength: 20
                minLength: 20
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                example: '2020-07-21T08:30:00Z'
    POSTResponseCreditPortability:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          minItems: 0
          description: Conjunto de informações de contratos de empréstimos/financiamentos mantidos pelo cliente na instituição credora e para os quais ele tenha fornecido consentimento
          required:
            - contractId
            - contractNumber
            - ipocCode
            - portability
            - productType
            - productSubType
            - creationDateTime
          properties:
              portabilityId:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                maxLength: 100
                minLength: 1
                example: 54d5348c-1a3f-4ff4-a8a8-d0724fb806c6
                description: "Código identificador do pedido de portabilidade realizado."
              status:
                type: string
                description: Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                enum:
                  - RECEIVED
                  - TECHNICAL_VALIDATION_IN_PROCESS
                  - PENDING
                  - ACCEPTED_SETTLEMENT_IN_PROCESS
                  - ACCEPTED_SETTLEMENT_COMPLETED
                  - PORTABILITY_COMPLETED
                  - REJECTED
                  - ACCEPTED_WITH_CHANGE
                  - CANCELED
              creationDateTime:
                type: string
                description: |
                  Data e hora em que a Proponente registrou a presente proposta (chamada ao POST /portabilities).
                  Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC-0 (UTC time format).
                maxLength: 20
                minLength: 20
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                example: '2020-07-21T08:30:00Z'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponsePortabilityEligibility:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Conjunto de informações de contratos de empréstimos/financiamentos mantidos pelo cliente na instituição credora e para os quais ele tenha fornecido consentimento
          required:
            - contractId
            - portability
          properties:
              contractId:
                type: string
                pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
                maxLength: 100
                minLength: 1
                example: '92792126019929279212650822221989319252576'
                description: 'Identifica de forma única o contrato da operação de crédito do cliente, mantendo as regras de imutabilidade dentro da instituição transmissora.'
              portability:
                type: object
                required:
                  - isEligible
                properties:
                  isEligible:
                    type: boolean
                    description: Sinaliza se as características do contrato é elegível para pedido de portabilidade de crédito via OFB (sem considerar a disponibilidade da portabilidade de crédito)
                  ineligible:
                    type: object
                    required:
                      - reasonType
                    description: |
                      Objeto para auxiliar a Instituição Proponente a entender o porque um contrato está inelegivel para pedido de portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `isEligible` for igual a `FALSE`
                    properties:
                      reasonType:
                        type: string
                        example: CLIENTE_COM_ACAO_JUDICIAL
                        enum:
                          - CONTRATO_LIQUIDADO
                          - CLIENTE_COM_ACAO_JUDICIAL
                          - MODALIDADE_OPERACAO_INCOMPATIVEL
                          - OUTROS
                        description: |
                          Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                          Informação sobre o motivo de inelegibilidade
                          -`CONTRATO_LIQUIDADO`: Contrato liquidado pelo cliente.
                          -`CLIENTE_COM_ACAO_JUDICIAL`: Cliente possui ação judicial
                          -`MODALIDADE_OPERACAO_INCOMPATIVEL`: Caso o contrato tenha uma modalidade diferente do praticado no escopo de modalidades disponiveis para portabilidade de crédito
                          -`OUTROS`: Caso exista algum motivo de recusa que não se encaixa nas opções disponiveis de `reasonType`, o campo `reasonTypeAdditionalInfo` deverá ser preenchido com o motivo da inelegibilidade.
                          
                      reasonTypeAdditionalInfo:
                        description: |
                          Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito. Deve ser preenchido como uma proposta para inclusão nas definições, exemplo `MOTIVO_NAO_MAPEADO`: descrição de usar esse motivo específico. Ao utilizar essa opção, é obrigatório enviar um ticket para a estrutura open finance para mapeamento em futuras versões.
 
                          [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `reasonType` for igual a `OUTROS`.
                        type: string
                  status:
                    type: string
                    description: |
                      Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `isEligible` for igual a `TRUE`
                    enum:
                      - DISPONIVEL
                      - EM_ANDAMENTO
                  statusUpdateDateTime:
                    type: string
                    maxLength: 20
                    pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                    example: "2020-07-21T08:30:00Z"
                    description: |
                      Data e hora em que o contrato teve o status atualizado. Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC(UTC time format).
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `isEligible` for igual a `TRUE`
                  
                  channel:
                    type: string
                    description: |
                      Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `status` for igual a `EM_ANDAMENTO`
                    enum:
                      - OFB
                      - REGISTRADORA
                  companyName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Empresa da Organização A              
                        description: |
                          Nome da Instituição Proponente responsável pelo pedido de portabilidade de credito anterior a atual consulta p.ex.Empresa A.
                          
                          [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `status` for igual a `EM_ANDAMENTO`         
                  companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        minLength: 14
                        example: '21128159000166'
                        description: |
                          Número completo do CNPJ da instituição
                          O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.
                          Deve-se ter apenas números do CNPJ, sem máscara

                          [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `status` for igual a `EM_ANDAMENTO`
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponsePortabilitiesByPortabilityId:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: Conjunto de informações referentes à Proposta de Portabilidade de Crédito da Proponente para a Credora
          required:
            - customerContact
            - institution
            - contractIdentification
            - proposedContract
            - portabilityId
            - status
            - statusUpdateDateTime
            - creationDateTime
          properties:
              portabilityId:
                description: Código identificador do pedido de portabilidade realizado.
                type: string
                pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                maxLength: 100
                minLength: 1
                example: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
              customerContact:
                type: array
                minItems: 1
                description: Dados de contato do cliente.
                items:
                  type: object
                  required:
                    - type
                    - value 
                  properties:
                    type:
                      type: string
                      enum:
                        - TELEFONE
                        - EMAIL
                      description: "Tipo do contato do cliente."
                    value:
                      type: string
                      pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                      example: "11999999999"
              institution:
                type: object
                description: Informações sobre proponente e credora participantes do presente pedido de portabilidade de crédito.
                required:
                  - creditor
                  - proposing
                properties:
                  creditor:
                    type: object
                    description: Informações sobre a instituição credora.
                    required:
                      - companyName
                      - companyCnpj
                    properties:
                      companyName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Credora               
                        description: 'Nome da Instituição Credora.'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                  proposing:
                    type: object
                    description: Informações sobre a instituição proponente
                    required:
                      - companyName
                      - companyCnpj
                    properties:
                      companyName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Proponente
                        description: 'Nome da Instituição Proponente'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                      contact:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - EMAIL
                                - TELEFONE
                              description: "Tipo do contato da Instituição Proponente."
                            value:
                              type: string
                              pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                              example: "contato@instituicaoproponente.com.br"
              contractIdentification:
                type: object
                required:
                  - contractId
                  - contractNumber
                  - ipocCode
                  - contractDate
                  - paidInstallments
                  - contractOutstandingBalance
                properties:
                  contractId:
                    type: string
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$
                    maxLength: 100
                    minLength: 1
                    example: "92792126019929279212650822221989319252576"
                    description: "Identifica de forma única o contrato da operação de crédito do cliente, mantendo as regras de imutabilidade dentro da instituição transmissora."
                  contractNumber:
                    type: string
                    pattern:  ^[\w\W]{1,100}$
                    maxLength: 100
                    minLength: 1
                    example: "1324926521496"
                    description: "Número do contrato dado pela instituição contratante."
                  ipocCode:
                    type: string
                    pattern:  ^[\w\W]{22,67}$
                    maxLength: 67
                    minLength: 22
                    example: "92792126019929279212650822221989319252576"
                    description: |
                      Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por:


                      CNPJ da instituição: 8 (oito) posições iniciais;
                      Modalidade da operação: 4 (quatro) posições;
                      Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica
                      
                      – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                      
                      - Código do cliente: O número de posições varia conforme o tipo do cliente:
                      Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                      Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                      Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                      
                      - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
              proposedContract:
                type: object
                minItems: 1
                description: Proposta da Proponente para Portabilidade de Crédito.
                required:
                  - cet
                  - amortizationScheduled
                  - interestRates
                  - contractedFees
                  - contractedFinanceCharges
                  - digitalSignatureProof
                  - totalNumberOfInstallments
                  - installmentPeriodicity
                  - installmentPeriodicityAdditionalInfo
                  - dueDate
                properties:
                  cet:
                    type: string
                    pattern: '^\d{1,6}\.\d{6}$'
                    maxLength: 13
                    minLength: 8
                    example: '0.290000'
                    description: |
                      CET – Custo Efetivo Total deve ser expresso na forma de taxa percentual anual e incorpora todos os encargos e despesas incidentes nas operações de crédito (taxa de juro, mas também tarifas, tributos, seguros e outras despesas cobradas).
            
                      O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%).
            
                      Para o público PF (pessoa física) o campo é de envio obrigatório para contratos firmados a partir de 2008, conforme Resolução CMN 3.517. Para o público PJ (pessoa jurídica) o campo é de envio obrigatório para contratos firmados a partir de 2011, conforme Resolução CMN 3.909. O campo poderá ser preenchido com 0.00 em cenários nos quais a casa não tenha a informação de CET (Custo efetivo total) apenas para as exceções listadas abaixo: 
            
                      - Em contratos anteriores a 2008 (para o público PF); 
                      - Em contratos anteriores a 2011 (para o público PJ); 
                      - Público PJ de médio ou grande porte. 
                  amortizationScheduled:
                    type: string
                    enum:
                      - SAC
                      - PRICE
                      - SAM
                      - SEM_SISTEMA_AMORTIZACAO
                      - OUTROS
                    example: SAC
                    description: |
                      Sistema de amortização (Vide Enum):
                      - SAC (Sistema de Amortização Constante) - É aquele em que o valor da amortização permanece igual até o final. Os juros cobrados sobre o parcelamento não entram nesta conta.
                      - PRICE (Sistema Francês de Amortização) - As parcelas são fixas do início ao fim do contrato. Ou seja, todas as parcelas terão o mesmo valor, desde a primeira até a última. Nos primeiros pagamentos, a maior parte do valor da prestação corresponde aos juros. Ao longo do tempo, a taxa de juros vai decrescendo. Como o valor da prestação é fixo, com o passar das parcelas, o valor de amortização vai aumentando.
                      - SAM (Sistema de Amortização Misto) - Cada prestação (pagamento) é a média aritmética das prestações respectivas no Sistemas Price e no Sistema de Amortização Constante (SAC).
                      - SEM SISTEMA DE AMORTIZAÇÃO
                  amortizationScheduledAdditionalInfo:
                    type: string
                    pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                    maxLength: 200
                    example: Informações complementares relativa à amortização do tipo `OUTROS`
                    description: |
                      Informação relativa ao complemento da amortização

                      [Restrição] Campo de preenchimento obrigatório quando o campo amortizationScheduled for igual `OUTROS`
                  interestRates:
                    type: array
                    description: |
                      Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito.  
                      Caso o contrato não possua taxas de juros, deve ser compartilhada uma lista vazia. Caso o contrato possua uma taxa de juros com valor 0, deve ser compartilhado um objeto com o valor 0 de forma explícita.
                    items:
                      $ref: '#/components/schemas/LoansContractInterestRate'
                    minItems: 0
                  contractedFees:
                    type: array
                    description: Lista que traz as informações das tarifas pactuadas no contrato.
                    items:
                      type: object
                      description: Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito
                      required:
                        - feeName
                        - feeCode
                        - feeChargeType
                        - feeCharge
                      properties:
                        feeName:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Denominação da Tarifa pactuada
                          example: Renovação de cadastro
                        feeCode:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Sigla identificadora da tarifa pactuada
                          example: CADASTRO
                        feeChargeType:
                          type: string
                          description: Tipo de cobrança para a tarifa pactuada no contrato.
                          enum:
                            - UNICA
                            - POR_PARCELA
                          example: UNICA
                        feeCharge:
                          type: string
                          description: |
                            "Forma de cobrança relativa a tarifa pactuada no contrato. (Vide Enum)
                            - Mínimo
                            - Máximo
                            - Fixo
                            - Percentual"
                          enum:
                            - MINIMO
                            - MAXIMO
                            - FIXO
                            - PERCENTUAL
                          example: MINIMO
                        feeAmount:
                          type: object
                          minItems: 1
                          description: |
                            Objeto para representar o valor monetário da tarifa pactuada no contrato.
                            
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for diferente de Percentual.
                          required:
                            - amount
                            - currency
                          properties:
                            amount:
                              type: string
                              format: double
                              maxLength: 20
                              minLength: 4
                              pattern: '^\d{1,15}\.\d{2,4}$'
                              example: '1000.0400'
                              description: Valor monetário da tarifa pactuada no contrato.
                            currency:
                              type: string
                              maxLength: 3
                              minLength: 3
                              pattern: '^(\w{3}){1}$'
                              example: 'BRL'
                              description: Moeda referenciada ao campo `amount`, segundo modelo ISO-4217.
                        feeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            É o valor da tarifa em percentual pactuada no contrato.
                
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for Percentual.
                          example: '0.062000'
                    minItems: 0
                  contractedFinanceCharges:
                    type: array
                    description: Lista que traz os encargos pactuados no contrato
                    items:
                      type: object
                      description: Conjunto de informações referentes à identificação da operação de crédito
                      required:
                        - chargeType
                      properties:
                        chargeType:
                          type: string
                          description: Tipo de encargo pactuado no contrato.
                          enum:
                            - JUROS_REMUNERATORIOS_POR_ATRASO
                            - MULTA_ATRASO_PAGAMENTO
                            - JUROS_MORA_ATRASO
                            - IOF_CONTRATACAO
                            - IOF_POR_ATRASO
                            - SEM_ENCARGO
                            - OUTROS
                          example: JUROS_REMUNERATORIOS_POR_ATRASO
                        chargeAdditionalInfo:
                          type: string
                          maxLength: 140
                          description: |
                            Campo para informações adicionais.
                
                            [Restrição] Obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo pactuado no contrato.
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          example: Informações adicionais sobre encargos.
                        chargeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            Representa o valor do encargo em percentual pactuado no contrato.
                
                            O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros(representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%).
                          example: '0.070000'
                    minItems: 0
                  digitalSignatureProof:
                    type: object
                    properties:
                      documentId:
                        type: string
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                        maxLength: 100
                        minLength: 1
                        example: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                        description: "Código identificador do Documento assinado na instituição proponente."
                      signatureDateTime:
                        type: string
                        maxLength: 20
                        pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: "2020-07-21T08:30:00Z"
                        description: |
                          Data e hora em que o contrato foi assinado pelo cliente  no canal digital da Instituição Proponente
                    required:
                      - documentId
                      - signatureDateTime
                  totalNumberOfInstallments:
                    type: number
                    description: total de parcelas, segundo a periodicidade regular das parcelas referente à Modalidade de Crédito informada.
                    example: 30
                  installmentPeriodicity:
                    type: string
                    description: Informação relativa à periodicidade regular das parcelas. (Vide Enum) sem periodicidade regular, diario, semanal, quinzenal, mensal, bimestral, trimestral, semestral, anual.
                    enum:
                      - SEM_PERIODICIDADE_REGULAR
                      - DIARIO
                      - SEMANAL
                      - QUINZENAL
                      - MENSAL
                      - BIMESTRAL
                      - TRIMESTRAL
                      - SEMESTRAL
                      - ANUAL
                    example: SEM_PERIODICIDADE_REGULAR
                  installmentAmount:
                    type: object
                    minItems: 1
                    description: Objeto para representar o Valor da parcela regular da operação após portabilidade.
                    required:
                      - amount
                      - currency
                    properties:
                      amount:
                        type: string
                        format: double
                        maxLength: 20
                        minLength: 4
                        pattern: '^\d{1,15}\.\d{2,4}$'
                        example: '1000.0400'
                        description: Valor da parcela regular da operação após portabilidade. Expresso em valor monetário com no mínimo 2 casas e no máximo 4 casas decimais.
                      currency:
                        type: string
                        maxLength: 3
                        minLength: 3
                        pattern: '^(\w{3}){1}$'
                        example: 'BRL'
                        description: Moeda referenciada ao campo `amount`, segundo modelo ISO-4217.
                  dueDate:
                    type: string
                    description: Prazo (data de vencimento final) da operação. Especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339)
                    maxLength: 20
                    minLength: 20
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                    example: '2020-07-21T08:30:00Z'
              status:
                type: string
                description: |
                  Informação sobre o status de um pedido de portabilidade de crédito, onde:
                  
                  `RECEIVED` - Estado inicial. Indica que o pedido de portabilidade foi solicitado junto a instituição credora. O pedido deve permanecer neste estado até que o próximo dia útil (D+1) aonde começará a contar o prazo de 3 dias úteis para a etapa de contraproposta e o pedido de portabilidade deverá  ser movido para PENDING.
                  
                  `PENDING` - Indica que o pedido de portabilidade de crédito está na fase de contraproposta, onde a instituição credora poderá enviar uma contraproposta ou não para o cliente por qualquer canal (email, telefone, etc.) porém o aceite só deverá ser valido se o cliente aprovar no canal digital da instituição credora.
                  
                  `ACCEPTED_SETTLEMENT_IN_PROCESS` - Indica que a contraproposta não foi aceita pelo cliente e a instituição proponente terá que quitar o valor do contrato no mesmo dia em que o estado foi ativado.
                  
                  `ACCEPTED_SETTLEMENT_COMPLETED` - Indica que a instituição proponente já liquidou o contrato e comunicou a respeito a credora que está validando os dados do contratos bem como valores recebidos para a quitação do mesmo (nesta etapa a instituição credora tem 2 dias úteis para fornecer a confirmação e o recibo de quitação do contrato de empréstimo).
                  
                  `PORTABILITY_COMPLETED` - Indica que o pedido de portabilidade foi concluído com sucesso
                  
                  `REJECTED` - Indica que o pedido de portabilidade de crédito foi rejeitado, seja porque o cliente aceitou a contraproposta, ou porque a proponente rejeitou a liquidação que excedeu em 15% o valor do contrato original, entre outras possibilidades.
                  
                  `CANCELED` - Indica que o cliente cancelou o pedido de portabilidade de crédito.
                  
                  `PAYMENT_ISSUE` - Indica que a portabilidade foi cancelada por inconsistência relacionada no pagamento da Instituição Proponente a Instituição Credora.
                enum:
                  - RECEIVED
                  - PENDING
                  - ACCEPTED_SETTLEMENT_IN_PROCESS
                  - ACCEPTED_SETTLEMENT_COMPLETED
                  - PORTABILITY_COMPLETED
                  - REJECTED
                  - CANCELED
                  - PAYMENT_ISSUE
              statusUpdateDateTime:
                type: string
                maxLength: 20
                pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                example: "2020-07-21T08:30:00Z"
                description: |
                  Data e hora em que o contrato teve o status atualizado. Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC(UTC time format).
              statusReason:
                type: object
                description: |
                  Motivo de recusa do pedido de portabilidade
                  
                  [RESTRIÇÃO] Campo de preenchimento obrigatório quando campo `status` for igual a `REJECTED` ou `CANCELADO` ou `PAYMENT_ISSUE`
                properties: 
                  reasonType:
                    description: |
                      Motivo de recusa do pedido de portabilidade, onde:
                      
                      `CANCELADO_PELO_CLIENTE` - Cliente desiste do pedido da portabilidade 
                      
                      `SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE` - Saldo devedor atualizado divergente (superior a 15%) do informado inicialmente 
                      
                      `POLITICA_DE_CREDITO` - Proponente desiste da oferta ao cliente por políticas internas 
                      
                      `RETENCAO_DO_CLIENTE` - Cliente aceitou contraproposta da instituição credora (dentro do prazo)
                      
                      `CONTRATO_JA_LIQUIDADO` - Contrato liquidado pelo cliente. 
                      
                      `DIVERGENCIA_DE_PAGAMENTO_EFETUADO` - Proponente realizou a liquidação com valor divergente 

                      `DECURSO_DO_PRAZO_PARA_PAGAMENTO` - Proponente realizou a liquidação fora do prazo 
                      
                      `PORTABILIDADE_CANCELADA_POR_FALTA_DE_LIQUIDACAO` - Proponente não realizou a liquidação do contrato 
                      
                      `PORTABILIDADE_EM_ANDAMENTO` - Posteriormente à efetivação do pedido de portabilidade, a IF credora identificou que o cliente já possui outro pedido de portabilidade em andamento para o mesmo contrato. 
                      
                      `CLIENTE_COM_ACAO_JUDICIAL` - Possui ação judicial 

                      `MODALIDADE_DA_OPERACAO_INCOMPATIVEL` - Modalidade divergente da indicada pela instituição proponente

                      `OUTROS` - Motivo da rejeição não se encaixa nas opções disponíveis
                    type: string
                    enum:
                      - CANCELADO_PELO_CLIENTE
                      - SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE
                      - POLITICA_DE_CREDITO
                      - RETENCAO_DO_CLIENTE
                      - CONTRATO_JA_LIQUIDADO
                      - DIVERGENCIA_DE_PAGAMENTO_EFETUADO
                      - DECURSO_DO_PRAZO_PARA_PAGAMENTO
                      - PORTABILIDADE_CANCELADA_POR_FALTA_DE_LIQUIDACAO
                      - PORTABILIDADE_EM_ANDAMENTO
                      - CLIENTE_COM_ACAO_JUDICIAL
                      - MODALIDADE_DA_OPERACAO_INCOMPATIVEL
                      - OUTROS
                  reasonTypeAdditionalInfo: 
                    description: |
                      Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito.
                      Ao utilizar essa opção, é fortemente recomendável enviar um ticket como sugestão da estrutura Open Finance 
                      para discussão e mapeamento em futuras versões.

                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando campo `reasonType` for igual `OUTROS`
                    type: string
                    maxLength: 144
                    pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                    example: Informações Adicionais                   
                  digitalSignatureProof:
                    type: object
                    description: |
                      Comprovante de assinatura da contraproposta
                      
                      [RESTRIÇÃO] Objeto de preenchimento obrigatório quando campo `reasonType` for igual a `RETENCAO_DO_CLIENTE`
                    properties:
                      documentId:
                        type: string
                        pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                        maxLength: 100
                        minLength: 1
                        example: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                        description: "Código identificador do Documento assinado na instituição proponente."
                      signatureDateTime:
                        type: string
                        maxLength: 20
                        pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                        example: "2020-07-21T08:30:00Z"
                        description: |
                          Data e hora em que o contrato foi assinado pelo cliente  no canal digital da Instituição Proponente
                    required:
                      - documentId
                      - signatureDateTime
                  paymentIssueDetail:
                    type: string
                    description: |
                      Detalhes da inconsistência encontrada pela Instituição Credora na etapa de validação da liquidação do pedido de portabilidade de crédito. Devem ser mensagens claras, detalhadas, para compreensão entre Proponente e Credora, principalmente em casos que demandam ação por uma das partes.
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo `status` for igual `PAYMENT_ISSUE`
                    maxLength: 200
                    pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                    example: Valor disponibilizado é menor que o valor total a ser quitado. Credora está devolvendo o valor, e solicita pagamento do valor correto até o fim do dia.
              creationDateTime:
                type: string
                description: |
                  Data e hora em que a Proponente registrou a presente proposta (chamada ao POST /portabilities).
                  Uma string com data e hora conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), sempre com a utilização de timezone UTC-0 (UTC time format).
                maxLength: 20
                minLength: 20
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                example: '2020-07-21T08:30:00Z'
              rejection:
                type: object
                description: |
                  Objeto contendo detalhes do cancelamento do pedido de portabilidade de crédito junto a Instituição Credora.

                  [RESTRIÇÃO] Campo de preenchimento obrigatório quando `status` for igual a `REJECTED` ou `CANCELED`
                required:
                  - rejectedBy
                  - reason
                properties:
                  rejectedBy:
                    type: string
                    description: |
                      Informar usuário responsável pela rejeição da proposta, onde:
                      PROPONENTE - Indica que o pedido de portabilidade de crédito foi rejeitado pela proponente, seja porque a
                      proponente rejeitou a liquidação que excedeu em 15% o valor do contrato original, entre outras possibilidades.
                      USUARIO - Indica que o cliente cancelou o pedido de portabilidade de crédito.
                      CREDORA- Indica que a Instituição Credora cancelou o contrato por retenção do cliente ou outros motivos
                      conforme motivo de recusa.
                    example: PROPONENTE
                    enum:
                      - PROPONENTE
                      - USUARIO
                      - CREDORA
                  reason:
                    type: object
                    description: Motivo de recusa do pedido de portabilidade de crédito.
                    required:
                      - type
                    properties:
                      type:
                        type: string
                        description: |
                          Motivo de recusa do pedido de portabilidade, onde:
                          CANCELADO_PELO_CLIENTE - Cliente desiste do pedido da portabilidade;   
                          SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE - Saldo devedor atualizado divergente (superior a 15%) do informado inicialmente;   
                          POLITICA_DE_CREDITO - Proponente desiste da oferta ao cliente por políticas internas;   
                          RETENCAO_DO_CLIENTE - Cliente aceitou contraproposta da instituição credora (dentro do prazo);   
                          CONTRATO_JA_LIQUIDADO - Contrato liquidado pelo cliente;   
                          DIVERGENCIA_DE_PAGAMENTO_EFETUADO - Proponente realizou a liquidação com valor divergente;   
                          DECURSO_DO_PRAZO_PARA_PAGAMENTO - Proponente realizou a liquidação fora do prazo;   
                          PORTABILIDADE_CANCELADA_POR_FALTA_DE_LIQUIDACAO - Proponente não realizou a liquidação da Portabilidade;   
                          PORTABILIDADE_EM_ANDAMENTO - Posteriormente à efetivação do pedido de portabilidade, a IF credora identificou que o cliente já possui outro pedido de portabilidade em andamento para o mesmo contrato;   
                          CLIENTE_COM_ACAO_JUDICIAL - Possui ação judicial;   
                          MODALIDADE_DA_OPERACAO_INCOMPATIVEL - Modalidade divergente da indicada pela instituição proponente;  
                          OUTROS - Motivo da rejeição não se encaixa nas opções disponíveis.  
                        enum:
                        - CANCELADO_PELO_CLIENTE
                        - SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE
                        - POLITICA_DE_CREDITO
                        - RETENCAO_DO_CLIENTE
                        - CONTRATO_JA_LIQUIDADO
                        - DIVERGENCIA_DE_PAGAMENTO_EFETUADO
                        - DECURSO_DO_PRAZO_PARA_PAGAMENTO 
                        - PORTABILIDADE_CANCELADA_POR_FALTA_DE_LIQUIDACAO
                        - PORTABILIDADE_EM_ANDAMENTO
                        - CLIENTE_COM_ACAO_JUDICIAL
                        - MODALIDADE_DA_OPERACAO_INCOMPATIVEL
                        - OUTROS
                        example: CANCELADO_PELO_CLIENTE
                      typeAdditionalInfo:
                        type: string
                        description: |
                          Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito. 
                          Ao utilizar essa opção, é fortemente recomendável enviar um ticket como sugestão da estrutura Open Finance para discussão e mapeamento em futuras versões.
                          
                          [RESTRIÇÃO] Campo de preenchimento obrigatório quando campo type for igual a OUTROS.
                        maxLength: 144
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        example: Informações Adicionais
              receipt:
                type: object
                description: |
                  Objeto contendo o recibo de quitação do contrato original de empréstimo após finalizado o
                  pedido de portabilidade de crédito com sucesso junto a Instituição Credora.

                  [RESTRIÇÃO] Campo de preenchimento obrigatório quando `status` for igual a `PORTABILITY_COMPLETED`
                required:
                  - settlementDateTime
                  - settlementAmount
                  - transactionId
                properties:
                  settlementDateTime:
                    type: string
                    description: Data e hora em que a instituição credora realizou a quitação do contrato de empréstimo.
                    maxLength: 20
                    minLength: 20
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                    example: '2020-07-21T08:30:00Z'
                  settlementAmount:
                    type: object
                    minItems: 1
                    description: Objeto para representar o valor pago para liquidação do contrato de empréstimo.
                    required:
                      - amount
                      - currency
                    properties:
                      amount:
                        type: string
                        format: double
                        maxLength: 20
                        minLength: 4
                        pattern: '^\d{1,15}\.\d{2,4}$'
                        example: '1000.0400'
                        description: Valor pago para liquidação do contrato de empréstimo.
                      currency:
                        type: string
                        maxLength: 3
                        minLength: 3
                        pattern: '^(\w{3}){1}$'
                        example: 'BRL'
                        description: Moeda referenciada ao campo `amount`, segundo modelo ISO-4217.
                  transactionId:
                    type: string
                    description: Identificador da transação utilizado para liquidar o contrato de empréstimo. No contexto de STR0047, utilizar o valor do campo de retorno NumCtrlSTR (Número de Controle da STR).
                    maxLength: 20
                    minLength: 1
                    pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{1,20}$'
                    example: 'STR20181108000000013'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'                             
    ResponseAccountData:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: Dados para realização do pagamento da operação via TED
          required:
            - strCode
          properties:
            strCode:
              type: object
              required:
                - ispb
                - branchCode
                - hasfinancialAgent
                - accountNumber
              properties:
                ispb:
                  type: number
                  description: Número do ISPB da Instituição credora a ser usada na STR para pagamento de portabilidade de crédito exclusiva para o OFB.
                  example: 22896431
                name:
                  type: string
                  description: |
                    Nome do proprietário da conta a ser usada na STR para pagamento de portabilidade de crédito exclusiva para o OFB.
                    
                    [RESTRIÇÃO] campo de preenchimento obrigatório quando campo `hasFinancialAgent` for igual a true
                  pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                  maxLength: 80
                  minLength: 1
                  example: 'Instituicao Credora'
                companyCnpj:
                  type: string
                  description: |
                    CNPJ do proprietário da conta a ser usada na STR para pagamento de portabilidade de crédito exclusiva para o OFB.
                    
                    [RESTRIÇÃO] campo de preenchimento obrigatório quando campo `hasFinancialAgent` for igual a true
                  pattern: '\d{14}$'
                  maxLength: 14
                  minLength: 14
                  example: '21128159000166'
                branchCode:
                  type: number
                  description: Número da Agência creditada a ser usada na STR para pagamento de portabilidade de crédito exclusiva para o OFB.
                  example: 0001
                hasfinancialAgent:
                  type: boolean
                  description: Instituição trabalha com agente financeiro ao invés da conta reserva?
                  example: true
                accountNumber:
                  type: number
                  description: |
                    Número da conta bancária da credora a ser usada na STR para pagamento de portabilidade de crédito exclusiva para o OFB.
                    
                    [RESTRIÇÃO] campo de preenchimento obrigatório quando campo `hasFinancialAgent` for igual a true
                  example: 12345678
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    LoansContractInterestRate:
      type: object
      description: Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito
      required:
        - taxType
        - interestRateType
        - taxPeriodicity
        - calculation
        - referentialRateIndexerType
        - preFixedRate
        - postFixedRate
      properties:
        taxType:
          type: string
          description: |
            "Tipo de Taxa (vide  Enum)
            - NOMINAL (taxa nominal é uma taxa de juros em que a unidade referencial não coincide com a unidade de tempo da capitalização. Ela é sempre fornecida em termos anuais, e seus períodos de capitalização podem ser diários, mensais, trimestrais ou semestrais. p.ex. Uma taxa de 12% ao ano com capitalização mensal)
            - EFETIVA (É a taxa de juros em que a unidade referencial coincide com a unidade de tempo da capitalização. Como as unidades de medida de tempo da taxa de juros e dos períodos de capitalização são iguais, usa-se exemplos simples como 1% ao mês, 60% ao ano)"
          enum:
            - NOMINAL
            - EFETIVA
          example: EFETIVA
        interestRateType:
          type: string
          description: |
            "Tipo de Juros  (vide  Enum)
            - SIMPLES (aplicada/cobrada sempre sobre o capital inicial, que é o valor emprestado/investido. Não há cobrança de juros sobre juros acumulados no(s) período(s) anterior(es). Exemplo: em um empréstimo de R$1.000, com taxa de juros simples de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano e R$ 80 no segundo ano. Ao final do contrato, o tomador irá devolver o principal e os juros simples de cada ano: R$1.000+R$80+R$80=R$1.160)
            - COMPOSTO (para cada período do contrato (diário, mensal, anual etc.), há um “novo capital” para a cobrança da taxa de juros contratada. Esse “novo capital” é a soma do capital e do juro cobrado no período anterior. Exemplo: em um empréstimo de R$1.000, com taxa de juros composta de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano. No segundo ano, os juros vão ser somados ao capital (R$1.000 + R$ 80 = R$ 1.080), resultando em juros de R$ 86 (8%de R$ 1.080))"
          enum:
            - SIMPLES
            - COMPOSTO
          example: SIMPLES
        EnumContractReferentialRateIndexerSubType:
          type: string
          description: |
            "Sub tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_SUB_TIPO_INDEXADOR
            - PRE_FIXADO
            - TR_TBF
            - TJLP
            - LIBOR
            - TLP
            - OUTRAS_TAXAS_POS_FIXADAS
            - CDI
            - SELIC
            - OUTRAS_TAXAS_FLUTUANTES
            - IGPM
            - IPCA
            - IPCC
            - OUTROS_INDICES_PRECO
            - TCR_PRE
            - TCR_POS
            - TRFC_PRE
            - TRFC_POS
            - OUTROS_INDEXADORES
          example: TJLP
        taxPeriodicity:
          type: string
          description: |
            "Periodicidade da taxa . (Vide  Enum)
            a.m - ao mês
            a.a. - ao ano"
          enum:
            - AM
            - AA
          example: AA
        calculation:
          type: string
          description: Base de cálculo
          enum:
            - 21/252
            - 30/360
            - 30/365
          example: 21/252
        referentialRateIndexerType:
          type: string
          description: |
            "Tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_TIPO_INDEXADOR
            - PRE_FIXADO
            - POS_FIXADO
            - FLUTUANTES
            - INDICES_PRECOS
            - CREDITO_RURAL
            - OUTROS_INDEXADORES
          example: PRE_FIXADO
        referentialRateIndexerSubType:
          type: string
          description: |
            "Sub tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_SUB_TIPO_INDEXADOR
            - PRE_FIXADO
            - TR_TBF
            - TJLP
            - LIBOR
            - TLP
            - OUTRAS_TAXAS_POS_FIXADAS
            - CDI
            - SELIC
            - OUTRAS_TAXAS_FLUTUANTES
            - IGPM
            - IPCA
            - IPCC
            - OUTROS_INDICES_PRECO
            - TCR_PRE
            - TCR_POS
            - TRFC_PRE
            - TRFC_POS
            - OUTROS_INDE
        referentialRateIndexerAdditionalInfo:
          type: string
          description: |
            Campo livre para complementar a informação relativa ao Tipo de taxa referencial ou indexador.
            [Restrição] Obrigatório para complementar a informação relativa ao Tipo de taxa referencial ou indexador, quando selecionado o tipo ou subtipo `OUTRO`.
          maxLength: 140
          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
          example: Informações adicionais
        preFixedRate:
          type: string
          pattern: '^\d{1,2}\.\d{6}$'
          format: double
          maxLength: 9
          minLength: 8
          example: '0.600000'
          description: |
            Taxa pré fixada aplicada sob o contrato da modalidade crédito. p.ex. 0.014500. O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros(representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%). Preencher o campo não aplicável ao contrato com zeros, seguindo o pattern (0.000000).
        postFixedRate:
          type: string
          pattern: '^\d{1,2}\.\d{6}$'
          format: double
          maxLength: 9
          minLength: 8
          description: |
            Taxa pós fixada aplicada sob o contrato da modalidade crédito. p.ex. 0.0045 .O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%). Preencher o campo não aplicável ao contrato com zeros, seguindo o pattern (0.000000)
          example: '0.550000'
        additionalInfo:
          type: string
          maxLength: 1200
          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
          example: Informações adicionais
          description: |
            Texto com informações adicionais sobre a composição das taxas de juros pactuadas. 

            [Restrição] Caso a instituição possua a informação para compartilhamento, esta deverá ser informada.
    RequestCreditPortabilityCancel:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Objeto para notificar a respeito da liquidação efetuada pela proponente a Credora.
          required:
            - reason
          properties:
            rejectedBy:
              type: string
              description: |
                Informar usuário responsável pela rejeição da proposta, onde:

                `PROPONETE ` - Indica que o pedido de portabilidade de crédito foi rejeitado pela proponente, seja porque a proponente rejeitou a liquidação que excedeu em 15% o valor do contrato original, entre outras possibilidades.

                `USUARIO` - Indica que o cliente cancelou o pedido de portabilidade de crédito.
              enum:
                - PROPONENTE
                - USUARIO
            reason:
              type: object
              description: Motivo de recusa do pedido de portabilidade
              required:
                - type
              properties:
                type:
                  type: string
                  description: |
                    Motivo de recusa do pedido de portabilidade, onde:

                    `CANCELADO_PELO_CLIENTE` - Cliente desiste do pedido da portabilidade

                    `SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE` - Saldo devedor atualizado divergente (superior a 15%) do informado inicialmente

                    `POLITICA_DE_CREDITO` - Proponente desiste da oferta ao cliente por políticas internas

                    `OUTROS` - Motivo da rejeição não se encaixa nas opções disponíveis
                  enum:
                    - CANCELADO_PELO_CLIENTE
                    - SALDO_DEVEDOR_ATUALIZADO_SUBSTANCIALMENTE_DIVERGENTE
                    - POLITICA_DE_CREDITO
                    - OUTROS
                typeAdditionalInfo:
                  type: string
                  maxLength: 144
                  pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                  example: "Informações Adicionais"
                  description: |
                    Informação adicional sobre rejeição de portabilidade de crédito. Ao utilizar essa opção, é fortemente recomendável enviar um ticket como sugestão para estrutura Open Finance para discussão e mapeamento em futuras versões.
                    
                    [RESTRIÇÃO] Campo de preenchimento obrigatório quando campo `type` for igual a `OUTROS`
    RequestCreditPortabilityPayment:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Objeto para notificar a respeito da liquidação efetuada pela proponente a credora
          required:
            - portabilityId
            - paymentDateTime
            - paymentAmount
            - transactionId
          properties:
              portabilityId:
                type: string
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                maxLength: 100
                minLength: 1
                example: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                description: "Código identificador do pedido de portabilidade realizado."
              paymentDateTime:
                type: string
                maxLength: 20
                pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                example: "2020-07-21T08:30:00Z"
                description: |
[...]
